<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataRecord.mapper.InventoryMapper">
    <!--    &lt;!&ndash; id:resultMap的名字  type:方法返回值类型  autoMapper:自动映射 &ndash;&gt;-->
    <!--    <resultMap id="SpcesResult" type="com.dataRecord.domain.entity.Spces" autoMapping="true">-->
    <!--        &lt;!&ndash; id标签对应Spces表的主键  property对应Spces类的属性  column对应Spces表的字段&ndash;&gt;-->
    <!--        <id property="id" column="id"></id>-->
    <!--        <result column="spcesName" property="spces_name"/>-->
    <!--        <result column="pw" property="pw"/>-->
    <!--    </resultMap>-->

    <!-- 接口中对应的方法名 -->
    <select id="findLeftInvByYearAndMonthAndSid" resultType="java.lang.Integer">
        select left_inv
        from inventory
        where year = #{year}
          and month = #{month}
          and s_id = #{sid}
    </select>

    <select id="findInventoryBySIdAndMonth" resultType="com.dataRecord.domain.entity.Inventory">
        select *
        from inventory
        where year = year (#{date})
          and month = month (#{date})
          and s_id = #{sId}
    </select>

    <select id="findInventoryByDate" resultType="com.dataRecord.domain.entity.Inventory">
        select *
        from inventory
        where year = year (#{date})
          and month = month (#{date})
    </select>
</mapper>
