<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dataRecord.mapper.InventoryMapper">
<!--    <resultMap id="orderMap" type="com.quanxiaoha.mybatisplusdemo.model.OrderVO">-->
<!--        <result property="userName" column="name"/>-->
<!--        <result property="userAge" column="age"/>-->
<!--        <result property="userGender" column="gender"/>-->
<!--        <result property="orderId" column="order_id"/>-->
<!--        <result property="userId" column="user_id"/>-->
<!--        <result property="goodsName" column="goods_name"/>-->
<!--        <result property="goodsPrice" column="goods_price"/>-->
<!--    </resultMap>-->
<!--    <select id="selectOrderPage" resultMap="orderMap">-->
<!--select u.name, u.age, u.gender, o.order_id, o.goods_name, o.goods_price from t_user as u left join t_order as o on u.id = o.user_id ${ew.customSqlSegment}-->
<!--</select>-->
</mapper>