<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataRecord.mapper.SpcesMapper">
    <!-- id:resultMap的名字  type:方法返回值类型  autoMapper:自动映射 -->
    <resultMap id="SpcesResult" type="com.dataRecord.domain.entity.Spces" autoMapping="true">
        <!-- id标签对应Spces表的主键  property对应Spces类的属性  column对应Spces表的字段-->
        <id property="id" column="id"></id>
        <result column="spcesName" property="spces_name" />
        <result column="pw" property="pw" />
    </resultMap>

    <!-- 接口中对应的方法名 -->
    <select id="findSpcesByid" resultMap="SpcesResult">
        select id,spces_name,pw from spces where id = #{id}
    </select>
</mapper>
